.App {
  text-align: center;
  height: 100vh;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.weather-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.weather-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 150px;
  text-align: center;
  background-color: #f9f9f9;
}

.weather-card h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.weather-card p {
  margin: 0;
  font-size: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
